* {
  font-family: 'Lato'; }

html, body {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  /* TEXT */ }
  .wrapper h1, .wrapper h2 {
    font-family: 'Abril Fatface', cursive;
    color: #fbd404; }
  .wrapper h1 {
    font-size: 10em;
    font-weight: 100;
    margin: 0;
    letter-spacing: 9px; }
  .wrapper h2 {
    letter-spacing: 2px; }

#registrar {
  display: flex;
  width: 100%; }
  #registrar input, #registrar button {
    display: inline-flex;
    box-sizing: border-box;
    height: 100px;
    letter-spacing: 2px; }
  #registrar input[type="text"] {
    flex-grow: 3;
    border-right: none;
    border-style: solid;
    border: none;
    border-width: 1px;
    border: 1px solid rgba(218, 218, 218, 0.65);
    font-size: 2em;
    padding: 0 50px; }
  #registrar input:-webkit-autofill {
    background-color: none; }
  #registrar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid rgba(218, 218, 218, 0.65);
    background: none;
    padding: 0; }
    #registrar button span {
      font-size: 24px;
      text-transform: uppercase; }

#invitedList {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0; }
  #invitedList li {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    background-color: #fbd404;
    width: 33.333%;
    height: 300px; }
    #invitedList li.responded {
      background-color: #20BF55; }
    #invitedList li p {
      margin: 10px 0;
      font-weight: 400 !important; }
    #invitedList li label {
      display: inline-block;
      font-weight: 100; }
