* {
  font-family: 'Lato'; }

html, body {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  /* TEXT */ }
  .wrapper h1, .wrapper h2 {
    font-family: 'Abril Fatface', cursive;
    color: #fbd404; }
  .wrapper h1 {
    font-size: 10em;
    font-weight: 100;
    margin: 0;
    letter-spacing: 9px; }
  .wrapper h2 {
    letter-spacing: 2px; }

#registrar {
  display: flex;
  width: 100%; }
  #registrar input, #registrar button {
    display: inline-flex;
    box-sizing: border-box;
    height: 100px;
    letter-spacing: 2px;
    font-weight: 100; }
  #registrar input[type="text"] {
    flex-grow: 3;
    border-right: none;
    border-style: solid;
    border: none;
    border-width: 1px;
    border: 1px solid rgba(218, 218, 218, 0.65);
    font-size: 1.65em;
    padding: 0 50px; }
  #registrar input[type="text"],
  #registrar input[type="text"]::-webkit-input-placeholder {
    font-size: 1.25em; }
  #registrar input:focus,
  #registrar button:focus,
  #registrar input[type="checkbox"]:focus {
    outline: none; }
  #registrar input:-webkit-autofill,
  #registrar input:-webkit-autofill:hover,
  #registrar input:-webkit-autofill:focus,
  #registrar input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; }
  #registrar input:-webkit-autofill {
    background-color: none; }
  #registrar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid rgba(218, 218, 218, 0.65);
    background: none;
    padding: 0; }
    #registrar button span {
      font-size: 24px;
      text-transform: uppercase; }

.main .toggleResponses {
  padding: 10px 0;
  border-bottom: 1px solid rgba(218, 218, 218, 0.65);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 400;
  background-color: rgba(220, 220, 220, 0.65); }
  .main .toggleResponses input[type="checkbox"] {
    margin-right: 10px;
    border-radius: 0; }
  .main .toggleResponses input[type="checkbox"]:focus {
    outline: none; }

.main #invitedList {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0; }
  .main #invitedList li {
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    background-color: #fbd404;
    width: 33.333%;
    height: 300px; }
    .main #invitedList li.responded {
      background-color: #20BF55; }
    .main #invitedList li span {
      display: block;
      margin: 10px 0;
      font-weight: 100 !important;
      font-size: 2.75rem;
      letter-spacing: 2px;
      padding: 10%; }
    .main #invitedList li label, .main #invitedList li button {
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 0.95rem; }
    .main #invitedList li button {
      appearance: none;
      -webkit-appearance: none;
      background: none;
      border: none;
      margin-top: 15px;
      padding-left: 10%; }
    .main #invitedList li input[type="checkbox"] {
      background-color: red;
      margin-left: 10%;
      margin-right: 8px;
      outline: none; }
