#registrar {
  display: flex;
  width: 100%;
  input, button {
    display: inline-flex;
    box-sizing: border-box;
    height: 100px;
    letter-spacing: 2px;
  }
  input[type="text"] {
    flex-grow: 3;
    border-right: none;
    border-style: solid;
    border: none;
    border-width: 1px;
    border: 1px solid $lightGray;
    font-size: 2em;
    padding: 0 50px;
  }
  input[type="text"],
  input[type="text"]::-webkit-input-placeholder {

  }
  input:-webkit-autofill {background-color: none;}
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid $lightGray;
    background: none;
    padding: 0;
    span {
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}

// TODO: Remove yellow and blue border from form input
