// TODO: Globalize all form elements, don't nest under #registrar
// TODO: Add specific styling related to form elements to this stylesheet

#registrar {
  display: flex;
  width: 100%;
  input, button {
    display: inline-flex;
    box-sizing: border-box;
    height: 100px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  input[type="text"] {
    flex-grow: 3;
    border-right: none;
    border-style: solid;
    border: none;
    border-width: 1px;
    border: 1px solid $lightGray;
    font-size: 1.65em;
    padding: 0 50px;
  }
  input[type="text"],
  input[type="text"]::-webkit-input-placeholder {
    font-size: 1.25em;
  }
  input:focus,
  button:focus,
  input[type="checkbox"]:focus {outline: none;}
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;}
  input:-webkit-autofill {background-color: none;}
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid $lightGray;
    background: none;
    padding: 0;
    span {
      font-size: 24px;
      text-transform: uppercase;
    }
  }
}
